*{
    box-sizing:border-box;                                                               
}
body,html{
    margin:0px;
    padding:0px;

}
.toolBar{
    height: 100px;
    background: rgb(156, 8, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools{
    display: flex;
    width: 600px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  
}
.tool{
    position: relative;
}
.content{
    border: 2px solid dodgerblue;
    height: calc(100vh - 100px);
    overflow: auto;
}

.tool img{
    height: 50px;
}

.active-tool{
    border: 2px solid;
    border-radius: 19px;
    padding: -4px;
}
.pencil-color div{

}
.tool-options{
    border: 1px solid;
    height: 104px;
    position: absolute;
    top: 70px;
    left: -41px;
    background: darkmagenta;
    border-radius: 15px;
    width: 143px;
    display: none;
}
.tool-options-active{
    display:block;
}
.pencil-slider{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-color{
    height: 50%;
    /* background: black; */
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;

}
.black{
    background: black;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.yellow{
    background: yellow;
}

.pencil-color div {
    height: 30px;
    /* background: black; */
    width: 30px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    border-radius: 81px;
}

.eraser-slider{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky{
    position: absolute;
    top: 200px;
    left: 200px;
    /* background: yellowgreen; */
    height: 186px;
    width: 233px;
}
.header{
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: thistle;
    width: 263px;
}
.minimize{
    height: 25px;
    width: 25px;
    background: green;
    border-radius: 50px;
}
.close{
    height: 26px;
    width: 25px;
    background: red;
    border-radius: 50px;
}
.sticky-content{

    height: 165px;
}
.sticky-img{
    height: 100%;
    width: 114%;
}